input[type="radio"] {
    position: absolute;
    clip-path: inset(100%);
}



input[type="radio"]:checked +  label{
    background-color: var(--strong-cyan);
}
input[type=radio]:not(input[type=radio]:checked) + label:hover {
    background-color: var(--l-grayish-cyan);
    color: var(--v-dark-cyan);
    outline: none;
}

label {
    display: block;
    background-color: var(--v-dark-cyan);
    padding:10px 20px;
    color:var(--white);
    border-radius: 5px;
    transition: background-color 200ms ease;
    text-align: center;
}
label:hover {
    cursor: pointer;
}